.all {
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.allbox {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 800px;
}

.topbar {
  align-items: center;
  border: 1px solid #ddd;
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding: 0 20px;
}

.inputside {
  align-items: center;
  display: flex;
  gap: 20px;
  background-color: #eee;
  border-radius: 12px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 30px;
}
.form_label {
  font-size: 16px;
  font-weight: 700;
}
.input_group {
  align-items: center;
  display: flex;
  gap: 20px;
}
.add_input {
  border: none;
  border-radius: 12px;
  height: 40px;
  padding: 0 12px;
  width: 240px;
}
.addBtn {
  width: 100px;
}

.list_contain {
  padding: 0 24px;
}

.app-style {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.square-style {
  border: 4px solid teal;
  border-radius: 12px;
  padding: 12px 24px 24px;
  width: 270px;
}

.deleteBtn {
  background-color: #fff;
  border: 2px solid red;
}

.completeBtn {
  background-color: #fff;
  border: 2px solid green;
}
